.desktop-nav {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 70px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.alt-nav-background {
  background-color: #3e4478;
}

.nav-logo {
  height: 40px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  margin-left: 0px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;

}
.nav-links {
  // margin-right: 100px;
  margin-top: 10px;

}


.borderLeftRight {
  display: inline-block;
  position: relative;
  color: #3e4478;
}

.borderLeftRight::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ee3b7e;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.desktop-nav.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
  box-shadow: 2px 2px 3px rgba(62,68,120,0.1);
}
.norm-colour {
  color: #3e4478;
  &:active, &:hover, &:visited, &:focus {
    text-decoration: none;
    color: #3e4478;
  }
}
.alt-colour {
  color: white ;
  &:active, &:hover, &:visited, &:focus {
    text-decoration: none;
    color: white;
  }
}

.links-toggle {
  visibility: hidden
}

#toggleButton {
}

.hamburger_classes {

  border: none;
  font-size: 26px;
}

.h_norm {
  background-color: white;
  color: #3e4478;
  &:active, &:hover, &:visited, &:focus {
    border: none;
    text-decoration: none;
    background-color: white;
    color: #3e4478;
  }
}
.h_alt {
  color: white;
  background-color: #3e4478;
  &:active, &:hover, &:visited, &:focus {
    border: none;
    text-decoration: none;
    color: white;
    background-color: #3e4478;
  }
}

@media (min-width: 769px) {
  .dropdown-togggle {
    display: none !important;
  }
  .links-toggle {
    visibility: visible;
  }
}
.list-inline li {
  padding: 0px;
}

@media (min-width: 882px) {
  .list-inline li {
    padding: 0px 5px;
  }

  .nav-link {
    margin-left: 20px;
  }
}

.navbar-mobile {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 1000;

}

.navbar-mobile-img {
  height: 40px;
}
.btn-secondary {
  font-size: 26px;
  color: #3e4478 !important;
  background-color: white !important;
  border-color: white;
  text-decoration: none;
  &:active, &:hover, &:visited, &:focus {
    box-shadow: none;
    text-decoration: none !important;
    color: #3e4478;
    color: #3e4478;
    outline: none;
    background-color: white;
    border-color: white;
  }
}


.dropdown-link-mob {
  color: #3e4478;
}













