// @import 'bootstrap/dist/css/bootstrap.min.css';

@import "navbar";
@import "home";
@import "carousel";
@import "course";
@import "footer";
@import "network";
@import "contact";
@import "tutors";
@import "coming_soon";

// @font-face {
//   font-family: 'Gilroy-Bold';
//   src: local('Gilroy-Bold'), url('../fonts/Gilroy-Bold.woff') format('truetype');
// }

body {
  font-family: Helvetica;
  background-color: white;
  // background-color: #f1f2f2;
}

#root {
  max-width: 100vw;
  overflow: hidden;
  // height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.container {
  margin: 0 20px;
}

